<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.spring.board.teampro.admin.AdminMapper">

<insert id="adminadd"
	  parameterType="com.ezen.spring.board.teampro.login.MemberVO">
	  INSERT INTO fairymem (fnum, userid, pass, name, phone, email, postal_code, contact_address, detailed_address, birth, age, gender, agrStipulation1, agrStipulation2, agrStipulation3, number,carrotpoint,mileage) 
     VALUES(NULL, #{userid}, #{pass}, #{name}, #{phone}, #{email}, #{postal_code}, #{contact_address}, #{detailed_address}, #{birth}, 1, #{gender}, #{agrStipulation1}, #{agrStipulation2}, #{agrStipulation3}, 9,0,0)
</insert>
	
<select id="getlist" resultType="com.ezen.spring.board.teampro.admin.AdminVO" >
SELECT quantity,buyday,bname, userid, price FROM boughtbook;
</select>

<select id="getByDay" resultType="com.ezen.spring.board.teampro.admin.AdminVO" parameterType="String">
        SELECT DAY(buyday) AS day, bname, quantity, price,userid
        FROM boughtbook
        WHERE buyday = #{buyday}
        GROUP BY DAY(buyday), bname, quantity, price,userid
    </select>
    
    <select id="getByMonth" resultType="com.ezen.spring.board.teampro.admin.AdminVO" parameterType="String">
        SELECT MONTH(buyday) AS month,DAY(buyday) AS day, bname, quantity, price, SUM(price*quantity) AS total,userid
        FROM boughtbook
        WHERE YEAR(buyday) = #{year}
            AND MONTH(buyday) = #{month}
        GROUP BY MONTH(buyday), DAY(buyday), bname, quantity, price,userid
    </select>
    
    <select id="getByYear" resultType="com.ezen.spring.board.teampro.admin.AdminVO" parameterType="String">
        SELECT MONTH(buyday) AS month,YEAR(buyday) AS year,
       SUM(quantity) AS totalquantity,
       SUM(price*quantity) AS total
		FROM boughtbook
		WHERE YEAR(buyday) = #{year}
		GROUP BY MONTH(buyday),YEAR(buyday);
    </select>

<select id="getByid" resultType="com.ezen.spring.board.teampro.admin.AdminVO" parameterType="String">
        SELECT beyday, bname, quantity, price, userid,
       SUM(price*quantity) AS total
		FROM boughtbook
		WHERE userid = #{userid}
		GROUP BY beyday, bname, quantity, price,userid
    </select>
    
<select id="getallbook" resultType="com.ezen.spring.board.teampro.book.Book" parameterType="java.util.List">
SELECT * FROM book
</select>

<select id="search" parameterType="com.ezen.spring.board.teampro.book.Book"
    	resultType="com.ezen.spring.board.teampro.book.Book">
    SELECT * FROM test.book
    WHERE
    <choose>
    	<when test=" bname != null ">
    	bname LIKE CONCAT('%', #{bname}, '%')
    	</when>
    	<when test=" author != null"> 
    	author = #{author}
    	</when>
    	
    </choose>
</select>
    
<select id="getattbook" parameterType="java.util.List"
	resultType="com.ezen.spring.board.teampro.book.Bookattach">
	SELECT * FROM bookattach
</select>

<select id="getJoinedMem" parameterType="string" resultType="com.ezen.spring.board.teampro.login.MemberVO">
      SELECT * FROM fairymem WHERE userid = #{userid}
     </select>
</mapper>